/**
*
* -----------------------------------------------------------------------------
*
* Template : IPSITA EDUCATIONS SYSTEM | Responsive Education Template
* Author : IPSITA COMPUTERS PTE LTD
* Author URI : http://www.ipsitaedu.com/
* Programmer : Shihab Uddin
* -----------------------------------------------------------------------------
*
**/
@page {
    size: a4 portrait !important;

}

@media print {

    .mt-40 {
        margin-top: 40px !important;
    }

    .mt-30 {
        margin-top: 30px !important;
    }

    .float-left {
        float: left !important;
    }

    .float-right {
        float: right !important;
    }

    .con_margin1 {
        margin: 5px !important;

        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-md-6 {
        float: left !important;
    }

    .col-md-61 {
        float: right !important;
    }

    .border_dot {
        border-bottom-style: dotted !important;
        border-bottom-width: thin !important;
        display: inline-block !important;
        width: 100% !important;
        text-align: right;
    }

    #btnPrint, .d-print-none {
        display: none !important;
    }

    * {
        margin: 0 !important;
        padding: 0 !important;
    }

    .first_div {
        margin: 0 auto !important;
    }

    .fl .date_width {
        width: 103px !important;
    }

    .fl .reciept_width {
        width: 103px !important;
    }

    .fl .nms_width {
        width: 80px !important;
    }

    .fl .stdnt_name {
        width: 202px !important;
    }

    .fl .class_name {
        width: 61px !important;
    }

    .fl .section_width {
        width: 200px !important;
    }

    .fl .stdnt_code {
        width: 100px !important;
    }

    .fl .session_width {
        width: 65px !important;
    }


    .full_con {
        display: inline-flex !important;
        list-style-type: none !important;
        margin: 0 auto !important;
    }

    .bor_r_d {
        border-right-style: dotted !important;
        border-right-width: thin !important;
        margin-right: 10px !important;
        padding-right: 10px !important;
    }

    .bor_r_d:first-child {
        padding-right: 80px !important;
        margin-left: 20px !important;
    }
    #page {
        font-size: 12px !important;
        height: 624px !important;
        line-height: 18px !important;
        margin: 0 auto !important;
        width: 410px !important;

    }

    .con_margin {
        margin: 5px !important;
    }

    .font_10 {
        font-size: 10px !important;
    }

    .font_12 {
        font-size: 12px !important;
    }

    .font_13 {
        font-size: 14px !important;
    }

    .fl {
        float: left !important;
    }

    .fr {
        float: right !important;
    }

    .cb {
        clear: both !important;
    }


    .input {
        border: 1px solid #000 !important;
    }

    .table {
        border-collapse: collapse !important;
        width: 100% !important;
    }

    /*.table td:first-child {
        width: 10% !important;
    }*/
    .li li {
        list-style-type: none !important;
        margin-left: 2px !important;
    }

    .li div {
        display: inline-table !important;
        text-align: right !important;
        width: 15px !important;
    }

    .box1 {
        box-sizing: border-box !important;
        width: 33% !important;
        float: left !important;
        text-align: center !important;
    }

    .mar_top25 {
        margin-top: 25px !important;
    }

    .head_bac {
        background-color: #000 !important;
        border-radius: 10px !important;
        color: #fff !important;
        font-weight: bold !important;
        width: 150px !important;
    }

    .con_margin td, .con_margin th {
        vertical-align: top !important;
        padding-left: 2px !important;
        padding-right: 2px !important;
    }

    .slip-logo {
        text-align: center !important;
        /*padding: 18px 10px 14px 14px !important;*/
    }

    .slip-content {
        /*float:left;
    */
        padding: 0px 0px 10px 0px !important;
        width: 100% !important;
    }

    .underline {
        text-decoration: underline !important;

    }


    .acno {
        border-collapse: collapse !important;
        border: 1px solid black !important;
    }

    .acno tr {
        border-collapse: collapse !important;
        border: 1px solid black !important;
    }

    .acno tr td {
        border-collapse: collapse !important;
        border: 1px solid black !important;
    }

    .text-right {
        text-align: right !important;
    }

    .text-center {
        text-align: center !important;
    }

    .bor_r_d:last-of-type {
        border-right-style: none !important;
        margin-left: 80px !important;
    }

    .mt-60 {
        margin-top: 60px !important;
    }

    .pad_left_12 {
        padding-left: 12px !important;
    }

    .img-fluid {
        width: 16% !important;
        margin-top: 2px !important;
        float: left !important;
        margin-right: 15px !important;
    }

    .special-box {
        text-transform: uppercase;
        border: 1px solid #cccccc;
        padding: 5px 20px;
        font-weight: 600;
        width: 100%;
    }

    .notes {
        width: 360px !important;
    }

    .note_div {
        margin-top: 30px !important;
    }

    .con_margin td, .con_margin th {
        vertical-align: middle !important;
        padding-left: 2px;
        padding-right: 2px;
    }

    .td_center {
        vertical-align: middle !important;
    }
}
